.ant-table table {

    border-spacing: 0px 4px;
    font-weight: 600;

    .anticon {
        font-size: 16px !important;
    }


    .ant-table-thead th {
        background: transparent;
        font-weight: 900;
        color: #8992AD;
        border-right: 6px solid #f4f7fa;

        padding: 8px !important;

        .ant-table-column-sorter-inner {
            color: #8992AD;

        }



        .anticon-search,
        .anticon-filter {
            font-size: 18px;
            right: 30px;

            color: #abb3c9 !important;
        }
    }

    .ant-table-tbody td {
        background: #fff;
    }
}

.click-action {
    cursor: pointer;
}

.ant-table-header-column div {
    display: flex;
}

.ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-sorters:hover .ant-table-filter-icon,
.ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-filters:hover .anticon-filter:hover,
.ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-filters:hover .ant-table-filter-icon:hover,
.ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-sorters:hover,
.ant-table-thead>tr>th .ant-table-header-column .ant-table-column-sorters:hover::before {
    background: transparent !important;
}

.table-button {
    background-color: #fff;
    padding: 5px 15px 10px 15px;
    display: inline-block;
    box-shadow: 0 0 0 0;
    border: 1px solid #2781ff38;
}

.table-icon {
    svg path {
        fill: #8992AD
    }
}


p.failAlert {

    svg path {
        fill: #FA6557
    }

    color: #FA6557;
    display: flex;
}

p.high_low_Alert {

    svg path {
        fill: #FFB54C;

    }

    display: flex;
    color: #FFB54C;
}





.alertType {
    display: inline-flex;
    align-items: center;

    span {
        padding-right: 8px;
    }

    p {
        margin: 0;
    }

    svg path {
        fill: #8992AD
    }
}

.diagnosis_icon {

    span {
        img {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

p.failAlert {

    svg path {
        fill: #FA6557
    }

    color: #FA6557;
}

table {


    .criticalHigh,
    .criticalLow {

        position: relative;

        &Text {
            color: #FA6557;
            display: flex;

            i {
                padding-right: 5px;

                svg path {
                    fill: #FA6557;
                }
            }
        }

        &::after {
            content: ' ';
            position: absolute;
            width: 8px;
            height: 8px;
            background: #FA6557;
            bottom: -16px;
            border-radius: 5px;
            right: -7px;

        }
    }

    .high,
    .low {

        position: relative;

        &Text {
            color: #FFB54C;
            display: flex;

            i {
                padding-right: 5px;

                svg path {
                    fill: #FFB54C;
                }
            }
        }

        &::after {
            content: ' ';
            position: absolute;
            width: 8px;
            height: 8px;
            background: #FFB54C;
            bottom: -16px;
            border-radius: 5px;
            right: -23px;

        }
    }

    .normal {

        &Text {
            color: #35CC62;

            display: flex;

            i {
                padding-right: 5px;

                svg path {
                    fill: #35CC62;
                }
            }
        }

        position: relative;

        &::after {
            content: ' ';
            position: absolute;
            width: 8px;
            height: 8px;
            background: #35CC62;
            bottom: -16px;
            border-radius: 5px;
            right: -18px;
        }
    }

    .temp,
    .weight,
    .bp {

        .criticalHigh,
        .criticalLow {
            &::after {
                bottom: -18px;
                right: -20px;
            }
        }

        .high,
        .low {
            &::after {
                bottom: -18px;
                right: -20px;
            }
        }

        .normal {
            &::after {
                bottom: -18px;
                right: -20px;
            }
        }
    }



}