.device-status {

    &.not-assigned,
    &.active-status,
    &.disabled-status {
        display: inline-flex;
        align-items: center;

        i {
            padding-right: 10px;
        }
    }
}

.devices-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    h4 {
        margin: 0;
    }
}