@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

@font-face {
    font-family: 'Inter-Regular';
    src: url('./assets/fonts/Inter-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('./assets/fonts/Inter-Bold.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('./assets/fonts/Inter-SemiBold.woff');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Inter-Regular';

}

$green: #35CC62;
$yellow: #FFB54C;
$red: #FA6557;


.container-fluid {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.ant-select-selection,
.ant-modal-content,
input,
.ant-checkbox-inner {
    border-radius: 0 !important;

}

.text-green {
    color: $green;
}

.ant-pagination-item,
.ant-pagination-item-link,
button {
    border-radius: 0 !important;
}

.border-yellow {
    border: 1px solid $yellow;
}

.bg-yellow {
    background-color: $yellow;
}

.text-yellow {
    color: $yellow
}

.border-red {
    border: 1px solid $red;
}

.bg-red {
    color: #fff;
    background-color: $red;

    &.highlight {
        padding: 5px 10px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}


.text-red {
    color: $red !important;
}

.badge-green {
    background-color: #fff;

    &.anticon {
        padding: 10px;
        border-radius: 5px;

        svg path {
            fill: $green;
        }
    }
}

.badge-yellow {
    background-color: #FFF0DB;

    &.anticon {
        padding: 10px;
        border-radius: 5px;

        svg path {
            fill: $yellow;
        }
    }
}

.card_title {
    background-color: #0070B9;
    padding: 15px 0px 15px 25px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Inter-Bold';
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        box-shadow: 0 0 0 0;
        border: 0;
        display: inline-flex;
        font-size: 15px;

        svg {
            margin-right: 8px;
            margin-top: 3px;
            font-size: 14px;
        }

    }

    button:focus {
        box-shadow: 0 0 0 0;
        border: 0;
    }

    &.inside-tab {
        background-color: #8992AD;

        span {
            display: flex;
            align-items: center;

            i {
                margin-right: 12px;
            }

            span {
                margin-left: 5px;
            }
        }

        i svg path {
            fill: #fff;
        }
    }
}

.badge-red {
    background-color: #FEE0DD;

    &.anticon {
        padding: 10px;
        border-radius: 5px;

        svg path {
            fill: $red;
        }
    }
}

.checkbox-menu {
    padding: 1rem;

    .duration {
        margin-bottom: 1rem;
    }

    .time {
        .ant-input-number {
            margin-right: 10px;
        }
    }
}

span.dropdownText {
    display: inline-flex;
    align-items: center;

    i {
        padding-left: 6px;

    }
}

.measurements-icons {
    margin-bottom: 5px;
    display: inline-block;

    &.dummy-icons {

        .criticalHigh,
        .criticalLow,
        .low,
        .high,
        .normal {
            &::after {
                background: #abb3c9;
            }
        }

    }

    i {
        display: none;
    }

    span+i {
        display: inline-block;
    }

    .anticon svg {
        width: 24px;
        height: 24px;

        path {
            fill: #abb3c9;
        }
    }
}

.not-assigned {

    span,
    p {
        color: #8e3188;
    }
}

.active-status {

    span,
    p {
        color: #2187ff;
    }
}

.disabled-status {

    span,
    p {
        color: #8992ad;
    }
}

.ant-popover-inner {
    border-radius: 10px;
    box-shadow: 0px 3px 12px #8992AD99;
}

.tab_card .card_fields {
    padding: 20px 30px;
}